.u-center-text {
    text-align: center;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}