.u-center-text {
    text-align: center;
}

.mt-4 {
    margin-top: 4rem;

    @include respond(tab-port) {
        margin-top: 2rem;
    }
}

.mt-8 {
    margin-top: 8rem;

    @include respond(tab-port) {
        margin-top: 4rem;
    }
}

.mt-10 {
    margin-top: 10rem;

    @include respond(tab-port) {
        margin-top: 5rem;
    }
}

.mb-8 {
    margin-bottom: 8rem;

    @include respond(tab-port) {
        margin-bottom: 4rem;
    }
}

.mb-2 {
    margin-bottom: 2rem;

    @include respond(tab-port) {
        margin-bottom: 1rem;
    }
}

.mb-4 {
    margin-bottom: 4rem;

    @include respond(tab-port) {
        margin-bottom: 2rem;
    }
}